.hamburger {
	padding: 5px 5px;
	cursor: pointer;
	font: inherit;
	background-color: transparent;
	border: 0;
	margin: 0;
}
.hamburger-box {
	width: 30px;
	height: 30px;
	display: block;
	position: relative;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border 0.3s;
}
.hamburger-logo {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 4px;
    transform: translateX(-50%);
    border-radius: 4px;    
}
.hamburger-box:hover {
    border: 1px solid #109c28;
}
