@media (min-width: 1200px) {
	header {
		position: sticky;
		top: 0;
		z-index: 10;
	}
	.nav {
		&-desktop {
			display: flex;
		}
		&-mobile {
			display: none;
		}
	}
	.hero {
		&__img {
			background-image: url(../img/jungle-big.jpg);
			height: 500px;
		}

		&__text {
			left: 25%;
			font-size: 2.5rem;
			transform: translateY(-50%);
		}
		&__title {
			left: 25%;
			top: 53%;
			font-size: 4.3rem;
			transform: translateY(-50%);
		}
	}
	.aboutUs {
		&__box {
			padding-bottom: 1em;
		}
		&__title {
			font-size: 4.5rem;
		}
		&__box-text {
			font-size: 2rem;
			width: 700px;
			line-height: 2em;
			padding-left: 1em;
			h3 {
				padding-bottom: 1em;
				font-size: 3rem;
			}
		}
		&__box-img {
			margin: 0 8em 8em;
			background-image: url(../img/waters-big.jpg);
			width: 600px;
			height: 400px;
		}
	}
	.adventure {
		&__title {
			font-size: 5.2rem;
			padding: 0.8em 4.2em;
		}
		&__img {
			background-image: url(../img/girl-big.jpg);
			height: 400px;
			width: 100%;
		}
	}
	.offers {
		height: 850px;
		&__text {
			h2 {
				font-size: 4.5rem;
			}
			p {
				padding: 1.6em;
				font-size: 2.4rem;
			}
		}
		&__offer-box {
			width: 330px;
			height: 450px;
			margin: 2.5em 2em;
			padding-top: 3em;
			border-radius: 8px;

			h3 {
				font-size: 4rem;
			}
			p {
				font-size: 5rem;
				padding: 0.4em;
			}
			ul {
				padding: 0 2em;
				line-height: 1.9em;
				font-size: 1.8rem;
			}
			img {
				position: relative;
				top: 0.2em;
				right: 0.5em;
			}
		}
		&__btn {
			margin-top: 1.5em;
			width: 10em;
			height: 2em;
			font-size: 2rem;
		}
		&__fullTxt-btn {
			margin-top: 1.5em;
			width: 300px;
			height: 50px;
			font-size: 2rem;
		}
		.arrow {
			width: 1em;
			height: 1em;
		}
	}
	.footer {
		height: 40em;
		&__section-links {
			font-size: 1.8rem;
		}
		&__box {
			padding: 3em;
			line-height: 2em;
		}
		&__box-title {
			font-size: 2.5rem;
		}
		h2 {
			font-size: 5rem;
		}
		&__logo {
			width: 8em;
			height: 8em;
			filter: opacity(0.5) drop-shadow(0 0 0 #414141) saturate(100%); //Zmiana koloru loga z czarnego na lekki szary
		}
		&__bottom-text {
			font-size: 1.3rem;
		}
	}
}
