@media (max-width: 576px) {
	.nav {
		&-mobile {
			position: fixed;
		}
		&-desktop {
			display: none;
		}

		&__section {
			width: 100%;
			height: 250px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		h1{
			font-size: 4rem;
		}
		&__logo {
			width: 50px;
			height: 50px;
		}
	}
	.hamburger {
		display: block;
		
		&-box {
			width: 30px;
			height: 30px;
			border: 1px solid #fff;
			border-radius: 4px;
			&--active {
				border: 1px solid black;
			}
		}
		&-logo{
			height: 20px;
			width: 20px;	
		}
	}

	.hero {
		&__img {
			background-image: url(../img/jungle-small.jpg);
			height: 300px;
		}
	
		&__title {
			span{
				font-size: 1.5rem;
				font-weight: 300;
			}
			line-height: 1.3em;
			width: 100%;
			top: 50%;
			font-size: 2rem;
			text-align: center;
			transform: translateY(-50%);
		}
	}
	.aboutUs {
		&__box {
			padding-bottom: 5em;
		}
		&__title {
			padding: 1.6em;
			font-size: 2.5rem;
		}
		&__box-text {
			font-size: 1rem;
			width: 280px;
			line-height: 2em;

			h3 {
				padding-bottom: 1em;
				font-size: 1.4rem;
			}
		}
		&__box-img {
			margin: 0 2em 2em;
			background-image: url(../img/waters-small.jpg);
			width: 300px;
			height: 200px;
		}
	}
	.adventure {
		&__title {
			font-size: 1.9rem;
			padding: 0.8em 1.2em;
		}
		&__img {
			background-image: url(../img/girl-small.jpg);
			height: 250px;
			width: 100%;
		}
	}
	.offers {
		height: 145em;
		&__text {
			h2 {
				font-size: 2.5rem;
			}
			p {
				padding: 1.6em;
				font-size: 1.4rem;
			}
		}
		&__offer-box {
			width: 230px;
			height: 350px;
			margin: 1.5em 1em;
			padding-top: 2em;
			border-radius: 8px;

			h3 {
				font-size: 3rem;
			}
			p {
				font-size: 3rem;
				padding: 0.4em;
			}
			ul {
				padding: 0 2em;
				line-height: 1.9em;
				font-size: 1.2rem;
			}
			img {
				position: relative;
				top: 0.2em;
				right: 0.5em;
			}
		}
		&__btn {
			margin-top: 1.5em;
			width: 7em;
			height: 2em;
			font-size: 1.5rem;
		}
		&__fullTxt-btn {
			margin-top: 1.5em;
			width: 230px;
			height: 50px;
			font-size: 1.5rem;
		}
		.arrow {
			width: 1em;
			height: 1em;
		}
	}
	.footer {
		height: 30em;
	

		&__section-title {
			margin-top: 1.5em;
		}

		&__section-links {
			font-size: 1.1rem;
		}
		&__box {
			width: 9em;
			padding: 3em 0.5em 0.9em;
			line-height: 2.5em;
		}
		&__box-title {
			font-size: 1.3rem;
		}
		h2 {
			font-size: 2.5rem;
		}
		&__logo {
			width: 20px;
			height: 20px;
		}
		&__bottom-text {
			margin-top: 1.2em;
			font-size: 1rem;
		}
	}
	.contact {
		padding:  6em 2em;
		&__box {
			flex-direction: column;
			align-items: baseline;
			padding: 2em;
			height: 70em;
			width: 100%;
		}
		&__data {
			line-height: 3em;
			padding-bottom: 2em;
			h3 {
				font-size: 1.7rem;
			}
			p {
				padding-bottom: 0.6em;
				font-size: 1.2rem;
			}
			ul {
				font-size: 0.9rem;
			}
		}
		#map {
			height: 36em;
			width: 100%;
		}
	}
}
